minimumReleaseAge=4320
minimumReleaseAgeStrict=true
onlyBuiltDependencies[]=@medusajs/telemetry
onlyBuiltDependencies[]=@medusajs/admin-sdk
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
